.mb-schedule-button-group {
	width:100%;
	margin: 0.5rem auto;
}

.day-name {
	margin: 1rem auto;
	display: block;
	text-align: left;
}

.spacer {
	margin-top: 10rem;
}

.button-style{
	width:100%;
}

.scheduleButtonGroup {
	display: flex;
	width: 100%;
}

.scheduleButton {
	background-color: red;
	width: 33.33%;
}

.aoscheduleButtonSelected {
	width: 33.33%;	
}

.MealTicket {
	margin: auto;
	width: 100%;
}
