.Wallet {
	margin: auto;
	margin-top: 9rem;
	width: 100%;
	background-color: beige;
}

.wallet-label {	
    font-size: x-large;
    margin: auto;
    margin-left: 2rem;
    padding-top: 1rem;
	text-align: left;
}

.wallet-icon {
	text-align: left;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.attach-wallet {
	text-align: left;
	font-size: large;
	margin-left: 5rem;
	margin-top: 4rem; 
	width:60%;
	padding-left: 2rem;
	border:solid;
	border-radius: 4%;
}

.wallet-list {	
    border: solid;
    width: 50%;
    margin: auto;
    margin-left: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}